<div class="hero-unit" style="margin-top: 25px">
	<h1 style="padding-bottom: 15px">What do you want to watch?</h1>



	<%= form_tag root_path do %>
	    <%= text_field_tag :search, params[:search], :value => @example %>
	    <%= submit_tag "Search", :class => "btn btn-primary" %>
	<% end %>

	<% if params[:search] %>

		<% if @bf_movies[0] %>

		<h3 class="muted" style="padding-bottom: 10px">Here is the result for "<%= params[:search] %>":</h3>

		<h3>Should I watch it?</h3>
		<% if @bf_scores.average > 50 %>
			<h4 class="muted">Yes.</h4>
		<% else %>
			<h4 class="muted">No.</h4>		   
		<% end %>
		<br>
		<div class="text-left" style="float: left"><%= image_tag @bf_movie_poster, :size => "256x378" %></div> 

		<div class="text-right">
	    	<iframe type="text/html" width="640" height="360" style="float: right" src=<%= @video_res.videos.first.embed_url %> ></iframe>
	    </div>	

	    <div style="clear: both; height: 0; overflow: hidden;"></div>
		
		<br>
		<% if @plot.length > 0 %>
			<h3>Plot</h3>
			<h4 class="muted"><%= @plot %></h4>
		<% end %>
		         
		<% else %>
		
		   <h3 class="muted">Movie not found :(</h2>
	   
	   	<% end %>
		

	    <!-- <h4 class="muted">Summary</h4>
		<div class="text-left">Description</div> -->

		
		   
		   

	<% end %>


</div>